.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input[type=text] {
  margin: 5px 5px 5px;
  border: 2px solid #555;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('./searchicon.png');
  background-position: 6px 6px;
  background-repeat: no-repeat;
  padding: 15px 15px 15px 45px;
}

input[type=text]:focus {
  background-color: rgba(227, 245, 252, 0.703);
  background-image: none;
  background-position: 6px 6px;

}


.App-header {
  background-color: #083856;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #ffffff;
  color: rgb(30, 30, 33);
  padding: 40px;
  font-family: Arial;
  text-align: center;
  font-size: medium;

}

.App-button {
  background-color: #467c9e;
  border: none;
  color: white;

  padding: 15px 15px 15px;
  border-radius: 4px;
  border: 2px solid #555;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.App-bold {
  font-weight: bold;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}